header{
  position:static;
  text-align:center;
  font-style:italic;
}
#buttonContainer {
  margin: auto;
  text-align: center;
}

button {
  width: 150px;
  height: 30px;
}

#Container {
  overflow: auto;
  width: 960px;
  margin: auto;
}

.square {
  background-color: white;
  float: left;
  border: 1px solid black;
}

.square_c {
  background-color: red;
}

.new-row {
  clear: both;
}
