header{
  position:static;
  text-align:center;
  font-style:italic;
}
#btn{
	margin: auto;
	width: 900px;
	text-align: center;
}
button {
	width: 150px;
	height: 30px;
}
#cont{
    overflow: auto;
	width:980px;
	margin:auto;
	  }
.sqr{
	float: left;
  background-color: black;
  border:1px solid white;
  
}
.act{
	background-color: red;
}
.act2{
	background-color: blue;
}
.nsqr {
	clear: both;
}
